-
  var plist = {
    InterversalGravitation : {
      pjTitle : "InterversalGravitation",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-001.jpg",
      pjUrl : "./showcase/InterversalGravitation.html"
    },
    Algaphon : {
      pjTitle : "Algaphon",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-002.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    Linecraft : {
      pjTitle : "Linecraft",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-003.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    Presence_in_the_shape : {
      pjTitle : "Presence in the shape（仮）",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    nenkin : {
      pjTitle : "真正粘菌による可逆的実体色彩パターン生成を用いた表現技法の研究",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-005.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    speed : {
      pjTitle : "1.0x",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-006.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    PaperPrinted : {
      pjTitle : "PaperPrinted",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-007.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    AudioRacing : {
      pjTitle : "大爆走！オーディオレーシング",
      pjenTitle : "Audio Racing",
      pjImg : "dist/pj-thumbnails/dummy-008.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    foamin : {
      pjTitle : "foamin",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-008.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
    AmbientWeaving : {
      pjTitle : "AmbientWeaving",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-008.jpg",
      pjUrl : "showcase-00-jpentitle.html"
    },
  }
