-
  var plist = {
    InterversalGravitation : {
      pjTitle : "InterversalGravitation",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/InterversalGravitation.html"
    },
    Algaphon : {
      pjTitle : "Algaphon",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/Algaphon.jpg",
      pjUrl : "./showcase/Algaphon.html"
    },
    Linecraft : {
      pjTitle : "Linecraft",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/Linecraft.jpg",
      pjUrl : "./showcase/Linecraft.html"
    },
    Presence_in_the_shape : {
      pjTitle : "Presence in the shape",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/Presence_in_the_shape.html"
    },
    SlimeMolds : {
      pjTitle : "真正粘菌による可逆的実体色彩パターン生成を用いた表現技法の研究",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/SlimeMolds.html"
    },
    EqualSpeed : {
      pjTitle : "1.0x",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/EqualSpeed.html"
    },
    PaperPrinted : {
      pjTitle : "PaperPrinted",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/PaperPrinted.html"
    },
    AudioRacing : {
      pjTitle : "大爆走！オーディオレーシング",
      pjenTitle : "Audio Racing",
      pjImg : "dist/pj-thumbnails/AudioRacing.jpg",
      pjUrl : "./showcase/AudioRacing.html"
    },
    foamin : {
      pjTitle : "foamin",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/foamin.html"
    },
    AmbientWeaving : {
      pjTitle : "Ambient Weaving",
      pjenTitle : "",
      pjImg : "dist/pj-thumbnails/dummy-004.jpg",
      pjUrl : "./showcase/AmbientWeaving.html"
    },
  }
