-
  var snslist = {
    twitter : {
      title : "Twitter",
      url : "https://twitter.com/xlab_utokyo"
    },
    instagram : {
      title : "Instagram",
      url : "https://www.instagram.com/xlab_utokyo/"
    },
    youtube : {
      title : "Youtube",
      url : "https://www.youtube.com/channel/UCl1yg3wKUfRa-zu9S6BdEag"
    }
  }
