header#header-index{
  height: 100vh;
  //height: -webkit-fill-available;
  //background-image: url(bg/dummy-bg_s.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: $spacing-6;
  @media screen and (min-width:700px) {
    //background-image: url(bg/dummy-bg_m.jpg);
  }
  div#header-contents{
    padding-top: $spacing-6;
    padding-left: $spacing-2;
    @media screen and (min-width:700px) {
      padding-top: $spacing-6;
      padding-left: $spacing-4;
    }
  }
  h1#text-jpTitle{
    @include text_setting_headerJpTitle;
    //line-height: 1.2;
    margin-bottom: $spacing-1;
  }
  h2#text-enTitle{
    @include text_setting_headerEnTitle;
    letter-spacing: -0.01em;
    line-height: 1.0 !important;
    margin-bottom: $spacing-4;
    span.span-title{
      display: inline-block;
      margin-right: 0.5em;
    }
  }
  p.text-schedule{
    @include text_setting_headerText;
  }
  p.text-location{
    @include text_setting_headerText;
  }
}

div.content-block{
  h3.content-title{
    text-align: center;
    @include text_setting_ll-light;
    margin-bottom: $spacing-4;
    @media screen and (min-width:1240px) {
      margin-bottom: $spacing-5;
    }
  }
  p#event-date{
    @include text_setting_l;
  }
  p{
    margin-bottom: $spacing-3;
    //@include text_setting_text();
  }
}

//Event
div.event-blocks{
  width:100%;
  vertical-align: top;
  border-left: 1px solid $color-basic;
  //margin-top: $spacing-1;
  padding-left: $spacing-2;
  //padding-top: $spacing-2;
  @media screen and (min-width:600px) {
    width:31.5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    display: inline-block;
    border-top: 1px solid $color-basic;
    border-left: none;
    margin-top: $spacing-3;
    padding-top: $spacing-2;
    padding-left: 0;
  }
  h4{
    @include text_setting_m;
    margin-bottom: $spacing-1;
  }
  p.event-time{
    @include text_setting_l;
    margin-bottom:$spacing-0;
  }
  p.event-text{
    @include text_setting_s;
    margin-bottom:$spacing-2;
  }
}

//SHOWCASE
ul#showcase-list{
  a{
    text-decoration: none;
  }
  a:hover{
    opacity:0.4;
    filter: alpha(opacity=40);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=40)";  /* ie 8 */
    -moz-opacity:0.4;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.4;              /* Safari 1.x */
  }
  li.showcase-content{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width:100%;
    margin-bottom: $spacing-2;
    @media screen and (min-width:600px) {
      width:48.5%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
    @media screen and (min-width:1240px) {
      width:31.8%;
      margin-left: 0.5%;
      margin-right: 0.5%;
    }
    figure{
      margin-bottom: $spacing-2;

      img.sc-thumbnail{
        width:100%;
        height:auto;
        //object-fit: cover;
      }
    }
    p.sclist-jptitle{
      text-align: center;
      @include text_setting_s;
      //border-left: 1px solid;
      margin-top: $spacing-1;
      margin-bottom: $spacing-0;
    }
    p.sclist-entitle{
      text-align: center;
      @include text_setting_s;
      //border-left: 1px solid;
      margin-top: $spacing-1;
    }
  }
}
