$spacing-unit:0.5rem;

$spacing-0: $spacing-unit / 2;
$spacing-1: $spacing-unit; //8px
$spacing-2: $spacing-unit * 2; //16px
$spacing-3: $spacing-unit * 3; //24px
$spacing-4: $spacing-unit * 5; //40px
$spacing-5: $spacing-unit * 8; //64px
$spacing-6: $spacing-unit * 13; //104px
