///*Light Mode
$color-bg:#FFFFFF;
$color-basic:#666666;
$color-textbasic:#333333;

$color-jptext-default:#333333;
$color-entext-default:#333333;

$color-link-default:#000000;
$color-link-active:#CCCCCC;
//*/

/*Dark Mode
$color-bg:#454444;
$color-basic:#ddb79b;
$color-textbasic:#eaeaea;

$color-jptext-default:#eaeaea;
$color-entext-default:#eaeaea;

$color-link-default:#FFFFFF;
$color-link-active:#eaeaea;
*/
